.bottomBlock {
  position: relative;
  padding: 75px 30px 0;
  display: none;

  &.show {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}

.video {
  position: absolute;
}

.content {
  padding: 1200px 15px 2500px;
  font-size:30px;
  margin-top:30px;
}

.animationTrigger {
  border: none;
  background: none;
  color: red;

  cursor: pointer;

  top: 100px
}


